<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @item.created_at %>
</p>

<% if logged_in? && @item.user_id == current_user.id %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %> 
<%= link_to 'Back', items_path %>
