<head>
    <header class="bg-info text-white d-flex" style="height: 300px;">
        <div class="container align-items-center d-flex justify-content-center">
            <div class="mb-0">
                <h1 class="text-center mb-0">Welcome to SwapSpace</h1>
                <p class="lead text-center">An open space for you to trade your belongings for items you may value more</p>
                <% if !logged_in? %>
                    <div class="text-center">
                        <button class="btn px-0 py-0" aria-haspopup="true" aria-expanded="false"><%= link_to "Log In", login_path, class: "btn btn-outline-info" %></button>
                        <p class="mb-0"> New user? <%= link_to 'Sign up now!', signup_path, class: "text-white" %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </header>
</head>
<body>
    <div>
        <div class="card" style="width: 100%;">
            <span class="text-center card-header bg-light navbar-brand mr-0">Most Popular Items</span>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <% @items.each do |item| %>
                        <% if !item.trade_established %>
                            <div class="container">
                                <a href="/items/<%= item.id%>" class="text-dark hover" style="text-decoration: none">
                                    <div class="card mb-3 col-md-6 offset-md-3 pl-0 pr-0">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <% if !item.images.empty? %>
                                                    <div id='MyCarousel' class="carousel slide carousel-fade" data-ride="carousel">
                                                        <div class="carousel-inner" role="listbox">
                                                            <div class="carousel-item active card-img-left">
                                                                <%= image_tag(item.images.first, style: 'height: 100%; width: 100%; object-fit: contain') %>
                                                            </div>
                                                            <% item.images.drop(1).each do |photo| %>
                                                                <div class="carousel-item card-img-left">
                                                                    <%= image_tag(photo, style: 'height: 100%; width: 100%; object-fit: contain') %>
                                                                </div>
                                                            <% end %>
                                                        </div>
                                                        <ol class="carousel-indicators">
                                                            <% item.images.each_with_index do |photo, n| %>
                                                                <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                                                            <% end %>
                                                        </ol>
                                                    </div>
                                                <% end %>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <% provide(:title, item.name) %>
                                                    <h4 class="card-title"><%=  item.name %></h4>
                                                    <p class="card-text">Category: <%= item.category %></p>
                                                    <% owner = User.find(item.user_id) %>
                                                    <p class="card-text">User: <%= owner.name %></p>
                                                    <p class="card-text">Date Added: <%= item.created_at %></p>
                                                    <p class="card-text">Popularity: <%= item.popularity %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</body>