<h1>Items</h1>


<table>
  <thead>
    <tr>
        <div class="ml-2">
        <button class= "btn btn-outline-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= link_to "Name", {:order => session[:order], :sort => "name",}, class: "dropdown-item" %></li>
          <li><%= link_to "User ID", {:order => session[:order], :sort => "user_id",}, class: "dropdown-item" %></li>
          <li><%= link_to "Category", {:order => session[:order], :sort => "category",}, class: "dropdown-item" %></li>
          <li><%= link_to "Date", {:order => session[:order], :sort => "created_at",}, class: "dropdown-item" %></li>
          <li><%= link_to "Popularity", {:order => session[:order], :sort => "popularity",}, class: "dropdown-item" %></li>
        </div>
        <% if params["sort"].present? %>
        <% if params["order"] == "desc" %>
          <button  class= "btn" aria-haspopup="true" aria-expanded="false"><%= link_to "Ascending", {:order => "asc", :sort => params["sort"],},  class: "btn btn-outline-secondary" %></button>
        <% end %>
        <% if params["order"] == "asc" %>
          <button class="btn" aria-haspopup="true" aria-expanded="false"><%= link_to "Descending", {:order => "desc", :sort => params["sort"],}, class: "btn btn-outline-secondary" %></button>
        <% end %>
      <% end %>
      </div>
      </p>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
      <div class="container">
          <a href="/items/<%= item.id %>">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <% provide(:title, item.name) %>
                <div class= "text-center">

                  <% if !item.images.empty? %>
                
                  <div id="MyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                        <%= image_tag(item.images.first, style: 'height:100px;width:auto;') %>
                      </div>
                      <% item.images.drop(1).each do |photo| %>
                        <div class="carousel-item">
                          <%= image_tag(photo, style: 'height:100px;width:auto;') %>
                        </div>
                      <% end %>
                    </div>
        
                      <ol class="carousel-indicators">
                      <% item.images.each_with_index do |photo, n| %>
                        <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                      <% end %>
                      </ol>
                    </div>
                  <% end %>

                
                  <h5 class="card-title text-center mt-2"><%= item.name %></h5>
                  <p class="card-text text-center"><%= item.category %></p>
                  <p class="card-text text-center"><%= item.user_id %></p>
                  <p class="card-text text-center"><%= item.created_at %></p>
                  <p class="card-text text-center"><%= item.popularity %></p>
                </div>
              </div>
            </div>
          </a> 
      </div>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Item', new_item_path %>
