<p id="notice"><%= notice %></p>

<h1>Items</h1>

<p>
<strong>Sort By </strong>
<li><%= link_to "Name", {:order => session[:order], :sort => "name"} %></li>
<li><%= link_to "User ID", {:order => session[:order], :sort => "user_id"} %></li>
<li><%= link_to "Category", {:order => session[:order], :sort => "category"} %></li>
<li><%= link_to "Date", {:order => session[:order], :sort => "created_at"} %></li>
<li><%= link_to "Popularity", {:order => session[:order], :sort => "popularity"} %></li>
<br>
<% if params["sort"].present? %>
  <% if params["order"] == "asc" %>
    <%= link_to "Sort descending instead", {:order => "desc", :sort => params["sort"],} %>
  <% else %>
    <%= link_to "Sort ascending instead", {:order => "asc", :sort => params["sort"],} %>
  <% end %>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>User</th>
      <th>Date added</th>
      <th> Popularity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.category %></td>
        <td><%= item.name %></td>
        <td><%= item.user_id %></td>
        <td><%= item.created_at %></td>
        <td><%= item.popularity %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Item', new_item_path %>
