<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>User</th>
      <th>Date added</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <% if !item.trade_established %>
        <tr>
          <td><%= item.category %></td>
          <td><%= item.name %></td>
          <td><%= item.user_id %></td>
          <td><%= item.created_at %></td>
          <td><%= link_to 'Show', item %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
